$underline: #ff4e33;
$button: #e3ac00;
$bodyBack: #21232e;
$wrap:  #ffffff;
$card: #3b3f50;
$text: #c0c3ce;
$grad: #922b53;
$footer: #3b3f50;
$footContent: #c0c3ce;
$headerWrapBG: url(../img/m-h-night.jpg);