$underline: #14a0c7;
$button: #699900;
$bodyBack: #fff;
$wrap:  #2c2f3c;
$card: #21232e;
$text: #c0c3ce;
$grad: #2c5adb;
$footer: #21232e;
$footContent: #c0c3ce;
$headerWrapBG: url(../img/m-h-day.jpg);